<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wyy.tech.mapper.SysUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="org.wyy.tech.entity.SysUser">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="pwd" property="pwd" />
        <result column="salt" property="salt" />
    </resultMap>

</mapper>
